$gap: 2rem;
$loading-color: #7f8fa6;
$error-color: #e84118;
$empty-color: #718093;

.productsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: $gap;
    @media (width <= 768px) {
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        gap: $gap * 1.25;
    }

    @media (width <= 480px) {
        grid-template-columns: 1fr;
        gap: $gap * 1;
    }
}

.loading,
.error,
.empty {
    text-align: center;
    padding: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.loading {
    color: $loading-color;
}

.error {
    color: $error-color;
}

.empty {
    color: $empty-color;
}
